.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  grid-area: infos;
  align-items: flex-start;
  margin-top: 30px;

.graduating {
      width: 220px;
      margin-bottom: 20px;
    }


.educational-info {
  display: flex;
}

img {
  margin-right: 12px;
}

  .languages-info {
    display: flex;
    flex-direction: column;
    gap:24px;
    align-items: flex-start;
    width: 100%;
    padding-left: 10px;



  }

  span {
    color: var(--text-secundary);
    display: flex;

  }

  @media (min-width: 768px){
    .graduating {
      width: 220px;
    }

    img {
  margin-right: 12px;
}
  }
}