  button {
     border-radius: 24px;
      background: linear-gradient(90deg, rgba(255,137,6,1) 15%, rgba(242,95,76,1) 52%, rgba(229,49,112,1) 94%);
      width: 325px;
      padding: 12px;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
      color: var(--text-primary);
      margin-top: 2vh;

  }