.btn-aboutme {
    border-radius: 24px;
      background: linear-gradient(90deg, rgba(255,137,6,1) 15%, rgba(242,95,76,1) 52%, rgba(229,49,112,1) 94%);
      width: 150px;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
      color: var(--text-primary);
      margin-top: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      border: none;
      height: 55px;

  }

    @media (min-width: 768px) {
      p{

        font-size: 25px;
        line-height: 36px;
        text-align: start;
        width: 50rem;
      }

      .btn-aboutme {
    border-radius: 24px;
      background: linear-gradient(90deg, rgba(255,137,6,1) 15%, rgba(242,95,76,1) 52%, rgba(229,49,112,1) 94%);
      width: 250px;
      padding: 12px;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 600;
      color: var(--text-primary);
      margin-top: 2vh;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      text-decoration: none;
      border: none;
      height: 45px;

  }


    }
