.Container {
  padding: 20px 15px;
  display: grid;

  justify-items: center;
  gap: 12px;
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header"
    "experience"
    "btns"
    "infos"
    "experience-time";




    .btn-primary {
      border-radius: 24px;
      background: linear-gradient(90deg, rgba(255,137,6,1) 15%, rgba(242,95,76,1) 52%, rgba(229,49,112,1) 94%);
      width: 325px;
      padding: 12px;
      text-align: center;
      cursor: pointer;

      color: var(--text-primary);
      font-weight: 500;
      line-height: 30px;
      font-size: 20px;
      text-transform: uppercase;
      border: none;

      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: center;



      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap:24px;
        grid-area: btns;
        text-decoration: none;

      }

    }
}

@media (min-width: 768px){

  .Container {
    padding: 3vh 3vh;
    height: 100vh;
    margin-left: 120px;
    grid-template-rows: fit-content(100%);
    grid-template-columns: 60% 27%;
    align-items: center;
    justify-items: start;
    justify-content: space-between;
    grid-template-areas:
      "header infos"
      "experience experience-time"
      "empty-2 btns"
  }

  .btn-primary{
    margin-bottom: 10px;
  }

}


