.social {
  width: 20px;
  display: flex;
  justify-content: space-around;
  gap: 25px;
  margin-top: 10px;
  margin-left: 13vh;
  margin-bottom: 15px;

    a {
      border-radius: 100%;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease;
    }

    a.hover {
      transform: translateX(100px);
    }

    @media (min-width: 768px){

a {
      border-radius: 100%;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

    }

    }
}

